@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #fff;
  color: #000;
  font-family: "Roboto Slab", serif;
}

.container{
  @apply max-w-7xl mx-auto;
}

.button{
  @apply px-4 py-1 border border-slate-400 rounded-full;
}